//Подключаем шрифт Lato
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Playfair+Display:wght@700&display=swap');


//Файл обнуляющих стилей
@import "nullstyle.scss";

html, body {
	font-family: "Montserrat";
	height: 100%;
	font-size: 16px;
}

.wrapper {
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.container {
	max-width: 1140px;
	margin: 0px auto;
	padding: 0 15px;
}

.content {
	flex: 1 1 auto;
}

.first_block {
	background: url('../img/bgc.png') 50% / cover no-repeat, linear-gradient(180deg, #282828 0%, rgba(40, 40, 40, 0) 100%), #EDEDED;
	min-height: 100vh;
	padding: 30px 0 0 0;
	// height: 900px;
	// border: 1px solid #000;
	&__nav {
		color: white;
		&__highrow {
			font-size: 13px;
			font-weight: 500;
			padding: 0 0 20px 0;
			display: flex;
			&_text {
				flex: 0 1 50%;
				&:last-child {
					text-align: right;
				}
			}
		}
		nav {
			display: flex;
			border-bottom: 1px solid #FFFFFF;
			border-top: 1px solid #FFFFFF;
			a {
				color: white;
				font-size: 14px;
				flex: 1 1 25%;
				text-align: center;
				border-right: 1px solid #FFFFFF;
				padding: 15px 0;
				&:last-child {
					border-right: none;
				}
			}
		}
	}
	&__row {
		padding: 35% 0 0 0;
		display: flex;
		justify-content: center;
		font-weight: 500;
		text-transform: uppercase;
		color: white;
		margin: 0px auto;
	}
	&__winecard, &__degustation {
		background: #998431;
		a {
			color: white;
			padding: 15px 30px;
			display: inline-block;
		}
	}
	&__winecard:hover, &__degustation:hover {
		background: #996931;
	}
	&__winecard {
		margin: 0 15px 0 0;
	}
	&__degustation {
		margin: 0 0 0 15px;
	}
}

.second_block {
	background: #282828;
	color: white;
	// font-size: 16px;
	padding: 100px 0;
	text-align: center;
	&__frame {
		display: flex;
		flex-direction: column;
		border: 3px solid #C4C4C4;
		padding: 60px 180px;
		align-items: center;
	}
	// &__title{
	// 	margin: 0 0 40px 0;
	// }
	&__title:after {
		content: "";
		height: 1px;
		background: white;
		display: block;
		width: 25%;
		margin: 40px auto;
	}
	&__text {
		margin: 0 0 50px 0;
		line-height: 24px;
	}
	&__picture {
		max-width: 160px;
		max-height: 160px;
		position: relative;
		// background: url("../img/image.png") no-repeat;
		&:hover {
			animation: glass-of-wine 1s ease 0s 1 normal none;
		}
		// &:after {
		// 	color: red;
		// 	opacity: 50%;
		// 	position: absolute;
		// 	z-index: 2;
		// }
	}
}

@keyframes glass-of-wine {
	0% {
		transform: rotate(0);
	}
	50% {
		transform: rotate(-45deg);
	}
	100% {
		transform: rotate(0);
	}
}

.title {
	font-family: "Playfair Display";
	font-weight: 700;
	font-size: 36px;
}


.third_block{
	padding: 80px 0;
	background: #E6E3C4;
	color: #282828;
	&__main{
		border-top: 1px solid #998431;
		border-bottom: 1px solid #998431;
		padding: 60px 0;
	}
	&__row {
		display: flex;
	}
	&__text {
		padding: 0 115px 0 0;
		flex: 0 1 50%;
		display: flex;
		flex-direction: column;
	}
	&__secondheader {
		line-height: 54px;
		margin: 30px 0 0 0;
		&:after {
			content: '';
			height: 0.9px;
			background: black;
			display: block;
			width: 35%;
			margin: 25px 0 30px 0;
		}
	}
	&__description {
		font-size: 14px;
		line-height: 21px;
		// &:first-child {
		// 	margin: 0 0 30px 0;
		// }
		// margin: 0 0 30px 0;
	}

	&__button {
		background: #998431;
		width: 50%;
		text-transform: uppercase;
		display: flex;
		justify-content: center;
		// font-size: 16px;
		margin: 30px 0 0 0;
		a {
			display: inline-block;
			padding: 15px 15px;
			color: white;
		}
		&:hover {
			background: #996931;
		}
	}
	&__table{
		display: flex;
		flex-direction: column;
		margin: 30px 0;
		&__row {
			display: flex;
			border-bottom: 1px solid #282828;
			&:last-child {
				border-bottom: none;
			}
		}
		&_column1 {
			padding: 0 24px;
			font-size: 14px;
			align-self: center;
			// flex: 1 1 auto;
		}
		&_column2 {
			padding: 15px 28px;
			border-left: 1px solid #282828;
			&_title {
				font-size: 18px;
				font-family: "Playfair Display";
			}
			&_text {
				font-size: 14px;
				margin: 15px 0 0 0;
			}
		}
	}
	&__pictures {
		flex: 0 1 50%;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
	&__mainpicture {
		img {
			max-width: 100%;
			max-height: 100%;
			flex: 0 1 auto;
			width: 540px;
			height: 500px;
		}
	}
	&__twopictures {
		margin: 30px 0 0 0;
		display: flex;
	}
	&__littlepicture {
		width: 255px;
		height: 228px;
		max-height: 100%;
		max-width: 100%;
		&:last-child {
			margin: 0 0 0 30px;
		}
	}
}

.description_wide {
	flex: 1 1 auto;
}


.degustation {
	background: #282828;
	color: white;
	padding: 129px 0 100px 0;
	text-align: center;
	&__frame {
		display: flex;
		flex-direction: column;
		border: 3px solid #C4C4C4;
		// padding: 0px 285px;
		align-items: center;
		box-sizing: border-box;
		padding: 0 285px 90px 285px;
		position: relative;
	}
	&__pictures_header {
		display: flex;
		// align-self: flex-start;
		&_picleft {
			position: absolute;
			top: -80px;
			left: -40px;
			max-width: 100%;
			max-height: 100%;
			z-index: 2;	
		}
		&_picright {
			position: absolute;
			top: -40px;
			right: -40px;
			max-width: 100%;
			max-height: 100%;
			z-index: 2;
		}
		&_title {
			position: absolute;
			top: -25px;
			left: 310px;
			background: #282828;
			z-index: 2;
			padding: 0 50px;
		}
	}
	&__form_text {
		line-height: 24px;
		margin: 0 0 65px 0;
		&:before {
			content: '';
			height: 0.9px;
			background: white;
			display: block;
			width: 25%;
			margin: 60px auto 40px;
		}
	}
	&__form_name {
		display: flex;
		justify-content: space-between;
		margin: 0 0 30px 0;
	}
		& input{
			background: #282828;
			border-bottom: 1px solid white;
			padding: 10px 0;
			width: 45%;
			color: white;
			&::placeholder {
				color: white;
				font-size: 13px;
			}
		}
	&__form_adress select {
		width: 100%;
		background: #282828;
		border-bottom: 1px solid white;
		padding: 10px 0;
		margin: 0 0 60px 0;
		color: white;
		font-size: 13px;
	}
	&__form_button {
		border: 1px solid white;
		// padding: 10px 0;
		& button {
			text-transform: uppercase;
			letter-spacing: 0.05em;
			color: white;
			background: none;
			width: 100%;
			height: 100%;
			padding: 10px 0;
			&:hover {
				background: white;
				color: black;
			}
		}
	}
}

.footer {
	background: #998431;
	padding: 50px 0;
	&__content {
		border-bottom: 1px solid white;
		border-top: 1px solid white;
		// padding: 20px 0;
		// display: flex;
		// flex-direction: column;
	}
	& nav {
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid white;
		padding: 20px 80px;
		& a {
			color: white;
			font-size: 14px;
		}
	}
	&__row {
		display: flex;
		// justify-content: space-between;
		padding: 0px 80px;
		&_text {
			font-size: 14px;
			color: white;
			text-transform: uppercase;
			font-weight: 600;
			border-right: 1px solid white;
			padding: 20px;
			flex: 1 1 auto;
			text-align: center;
			& a {
				color: white;
			}
			span {
				letter-spacing: 0.9em;
			}
		}
		&_text:first-child {
			padding: 20px 0 20px 0;
			text-align: left;
		}
		&_text:last-child {
			padding: 20px 0 20px 0;
			border-right: none;
			text-align: right;
		}
	}
}
